@model ViennaRuns.RunningGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RunningGroup</h4>
    @Model.Users.Count
    @foreach(var a in Model.Users)
    {
        @a
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rg_name)
        </dd>
        <dt>Members:</dt>
        <dd>
            @foreach (var a in Model.Users)
            {
                @a.u_username
            }
        </dd>
    </dl>
    @if(Model.rg_id != -1) { 
        @Html.ActionLink("Join Group", "JoinGroup", new { id=Model.rg_id })
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
