@model IEnumerable<ViennaRuns.Run>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.r_distance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.r_duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.r_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeelingAfterRun.far_datfeel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.u_username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.r_distance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.r_duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.r_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeelingAfterRun.far_datfeel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.u_username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.r_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.r_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.r_id })
        </td>
    </tr>
}

</table>
