@model PagedList.IPagedList<ViennaRuns.Run>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Runs";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
           @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm , sortType = "date"})
        </th>
        <th>
           @Html.ActionLink("Duration", "Index", new { sortOrder = ViewBag.DurationSortParm, sortType = "duration" })
        </th>
        <th>
           @Html.ActionLink("Distance", "Index", new { sortOrder = ViewBag.DistanceSortParm, sortType = "distance" })
        </th>
        <th>
           @Html.ActionLink("Feeling after Run", "Index", new { sortOrder = ViewBag.FarSortParm, sortType = "far" })
        </th>
        <th></th>
    </tr>
    @*<p>@Membership.GetUser().UserName</p>*@
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.r_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.r_duration) min
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.r_distance) km
        </td>
        <td>
            @if (item.FeelingAfterRun.far_datfeel.Equals("Good"))
            {
                <img src="~/Pictures/Happy_smiley.svg" width="20" />
            }else{ 
            <img src="~/Pictures/Sad_smiley.svg" width="20" />
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.r_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.r_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.r_id })
        </td>
    </tr>     
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


@Html.PagedListPager(Model, page => Url.Action("Index", new {page, sortOrder = ViewBag.CurrentSort  }))