@model IEnumerable<ViennaRuns.Run>

@{
    ViewBag.Title = "Runs";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Duration
        </th>
        <th>
            Distance
        </th>
        <th>
            Feeling after run
        </th>
        <th></th>
    </tr>
    @*<p>@Membership.GetUser().UserName</p>*@
@foreach (var item in Model) {
    if(User.Identity.Name == item.r_user) { 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.r_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.r_duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.r_distance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeelingAfterRun.far_datfeel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.r_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.r_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.r_id })
        </td>
    </tr>     
    }
}

</table>
